<footer class="bg-white rounded-lg shadow p-4 flex flex-col items-center">
  <ul class="flex space-x-8 mb-4 p-4 text-sm text-gray-500">
    <li><a href="" class="hover:underline" (click)="scrollTo('Benefits', $event)">Beneficios</a></li>
    <li><a href="" class="hover:underline">Términos y condiciones</a></li>
    <li><a href="" class="hover:underline">Sobre nosotros</a></li>
  </ul>
  <span class="text-sm pb-2 text-gray-500">© 2024 Wallet Company, Inc. Todos los derechos reservados.</span>
</footer>
