<footer class="bg-white rounded-lg shadow p-4 flex flex-col items-center">
  <ul class="flex space-x-8 mb-4 p-4 text-sm text-gray-500">
    <li><a href="#" class="hover:underline">About</a></li>
    <li><a href="#" class="hover:underline">Blog</a></li>
    <li><a href="#" class="hover:underline">Jobs</a></li>
    <li><a href="#" class="hover:underline">Press</a></li>
    <li><a href="#" class="hover:underline">Accessibility</a></li>
  </ul>
  <span class="text-sm pb-2 text-gray-500">© 2020 Your Company, Inc. All rights reserved.</span>
</footer>
