<header class="bg-[#453C51] fixed top-0 w-full z-50 shadow-md shadow-[rgba(0,0,0,0.2)]">
<nav class="mx-auto flex max-w-8xl items-center justify-between p-4 lg:px-6" aria-label="Global">
    <div class="flex lg:flex-1">
      <button (click)="goHome()" class="-m-1.5 p-1.5" aria-label="Wallet Company">
        <span class="sr-only">Wallet Company</span>
        <img class="h-8 w-auto" src="/icon-wallet.png" alt="">
      </button>
    </div>
    <div class="flex lg:hidden">
      <button (click)="toggleMenu()" type="button" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-white">
        <span class="sr-only">Open main menu</span>
        <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
        </svg>
      </button>
    </div>
    <div class="hidden lg:flex lg:gap-x-12">
      <button (click)="goHome()" class="text-sm font-semibold leading-6 text-white">Home</button>
      <button (click)="goPending()" class="text-sm font-semibold leading-6 text-white">Pendientes</button>
      <button (click)="goPortfolios()" class="text-sm font-semibold leading-6 text-white">Carteras</button>
      <button (click)="goReports()" class="text-sm font-semibold leading-6 text-white">Informes</button>
    </div>
    <div class="hidden lg:flex lg:flex-1 lg:justify-end lg:gap-x-2">
      <button (click)="goLogin()" class="text-sm font-semibold leading-6 text-white">Log in <span aria-hidden="true">&rarr;</span></button>
      <button (click)="goSignup()" class="ml-6 inline-flex items-center rounded-md bg-[#E9E5DA] px-3 py-2 text-sm font-semibold text-[#453C51] hover:text-white shadow-sm hover:bg-[#C1B5C8] focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">Sign up</button>

      <!-- Profile Button with Dropdown Menu -->
      <div class="relative">
        <button (click)="toggleProfileMenu()" class="flex items-center text-gray-900">
          <img src="/default-profile-photo.svg" alt="User Avatar" class="h-10 w-10 rounded-full border border-gray-300">
          <span class="sr-only">Perfil</span>
        </button>
        <div *ngIf="profileMenuOpen" class="absolute right-0 mt-2 w-48 rounded-md bg-[#453C51] shadow-lg ring-1 ring-black ring-opacity-5">
          <div class="p-4 space-y-2">
            <button (click)="goProfile()" class="block px-4 py-2 w-full text-sm text-center text-white hover:text-[#453C51] hover:bg-[#E9E5DA] rounded-md">Perfil</button>
            <button (click)="logout()" class="block w-full px-4 py-2 text-sm text-white bg-red-500 hover:bg-red-600 rounded-md">Log out</button>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <!-- Menú móvil -->
  <div *ngIf="menuOpen" class="lg:hidden" role="dialog" aria-modal="true">
    <div class="fixed inset-0 z-10 bg-black opacity-50" (click)="toggleMenu()"></div>
    <div class="fixed inset-y-0 right-0 z-20 w-full overflow-y-auto bg-[#453C51] px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10">
      <div class="flex items-center justify-between">
        <a (click)="goHome()" class="-m-1.5 p-1.5">
          <span class="sr-only">Wallet Company</span>
          <img class="h-8 w-auto" src="/icon-wallet.png" alt="Wallet Company">
        </a>
        <button (click)="toggleMenu()" type="button" class="-m-2.5 rounded-md p-2.5 text-white">
          <span class="sr-only">Close menu</span>
          <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>

      <div class="mt-6 text-center">
        <button (click)="toggleProfileMenu()" class="flex items-center justify-center mx-auto text-gray-900">
          <img src="/default-profile-photo.svg" alt="User Avatar" class="h-10 w-10 rounded-full border border-gray-300">
          <span class="sr-only">Profile</span>
        </button>
        <div *ngIf="profileMenuOpen" class="mt-4 space-y-2 text-center">
          <a (click)="goProfile()" class="block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-white hover:text-[#453C51] hover:bg-[#E9E5DA]">Perfil</a>
          <button (click)="logout()" class="block w-full text-center rounded-lg px-3 py-2 text-base font-semibold leading-7 text-white bg-red-500 hover:bg-red-600">Log out</button>
        </div>
      </div>

      <div class="mt-6 border-t border-gray-200 pt-4">
        <div class="-my-6 divide-y divide-gray-500/10">
          <div class="space-y-2 py-6">
            <a (click)="goHome()" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-white hover:text-[#453C51] hover:bg-[#E9E5DA]">Home</a>
            <a (click)="goPending()" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-white hover:text-[#453C51] hover:bg-[#E9E5DA]">Pendientes</a>
            <a (click)="goPortfolios()" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-white hover:text-[#453C51] hover:bg-[#E9E5DA]">Carteras</a>
            <a (click)="goReports()" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-white hover:text-[#453C51] hover:bg-[#E9E5DA]">Informes</a>
          </div>
          <div class="py-6">
            <button (click)="goLogin()" class="w-full inline-flex items-center justify-center rounded-md border border-gray-300 bg-[#E9E5DA] px-3 py-2.5 text-base font-semibold text-[#453C51] hover:text-white shadow-sm hover:bg-[#C1B5C8] focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">Log in <span aria-hidden="true">&rarr;</span></button>
            <button (click)="goSignup()" class="mt-4 w-full inline-flex items-center justify-center rounded-md bg-[#9884B5] px-3 py-2.5 text-base font-semibold text-white shadow-sm hover:bg-[#AA79A6] focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">Sign up</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
