<!-- 1 Componente -->
<div class="bg md:py-16">
  <div class="max-w-screen-xl mx-auto flex flex-col md:flex-row items-center justify-between px-8">
    <!-- Texto Izquierdo -->
    <div class="md:w-1/2 md:pl-6">
      <p class="text-sm uppercase text-gray-500 tracking-wide">Free 30 days trial</p>
      <h1 class="text-4xl md:text-[38px] font-bold text-[2F2D3B] mb-6">La Mejor Manera de Gestionar tu Cartera de Letras y Facturas</h1>
      <p class="text-gray-600 mb-8">Descubre cómo nuestra aplicación puede optimizar la administración de tus letras y facturas, con cálculos automáticos de TCEA, reportes detallados y seguridad garantizada. ¡Empieza gratis y simplifica tus finanzas!</p>

      <!-- Botones -->
      <div class="flex space-x-8 mb-12">
        <button class="bg-[#9884B5]  text-white py-3 px-6 rounded-lg hover:bg-blue-600">
          Try for free
        </button>
        <button class="border border-gray-400 py-3 px-6 rounded-lg hover:bg-gray-100">
          See how it works
        </button>
      </div>
    </div>

    <!-- Sección de Imagen/Diseño 3D -->
    <div class="mt-12 md:mt-0 md:w-1/2 flex justify-center md:pl-12">
      <canvas id="canvas3d-1" width="800" height="600" class="w-full"></canvas>

    </div>
  </div>
</div>







<!-- 2 Componente -->
<div  id="Benefits" class="bg-gray-50 py-24 px-6 md:px-20 ">
  <div class="text-center mb-6">
    <h1 class="text-3xl font-bold text-blue-900">
      Maximiza tus Finanzas con Nuestras Funcionalidades
    </h1>
    <p class="text-lg text-gray-500 my-6">
      Optimiza tu gestión financiera con herramientas clave que te ayudarán a mejorar la administración de tu portafolio.
    </p>
  </div>

  <div class="flex flex-col 2xl:flex-row items-center justify-center space-y-8 2xl:space-y-0 2xl:space-x-16">
    <!-- Columna Izquierda -->
    <div class="flex flex-col space-y-6 text-left w-full 2xl:w-4/5 pt-12">
      <!-- Item 1 -->
      <div class="flex items-center space-x-6">
        <i class="fas fa-calculator text-teal-500 text-3xl md:text-5xl"></i>
        <p class="text-sm md:text-lg text-teal-500">Cálculo Automático de TCEA: Realiza el cálculo de la Tasa de Coste Efectivo Anual (TCEA) de forma instantánea para todas tus letras o facturas.</p>
      </div>
      <!-- Item 2 -->
      <div class="flex items-center space-x-6">
        <i class="fas fa-exchange-alt text-blue-900 text-3xl md:text-5xl"></i>
        <p class="text-sm md:text-lg text-blue-900">Gestión en Múltiples Divisas: Trabaja sin complicaciones con soles o dólares, eligiendo la moneda que mejor se ajuste a tus necesidades.</p>
      </div>
      <!-- Item 3 -->
      <div class="flex items-center space-x-6">
        <i class="fas fa-folder-open text-blue-900 text-3xl md:text-5xl"></i>
        <p class="text-sm md:text-lg text-blue-900">Consolidación de Cuentas: Revisa y organiza todo tu portafolio, permitiendo la visualización clara de cada letra o factura y sus detalles.</p>
      </div>
    </div>

    <!-- Imagen Principal (Cuadrada y grande) -->
    <div class="flex justify-center w-full md:w-2/3 h-96">
      <canvas id="canvas3d-2" class="w-full h-full"></canvas>
    </div>

    <!-- Columna Derecha -->
    <div class="flex flex-col space-y-6 text-left w-full 2xl:w-4/5 pt-12">
      <!-- Item 4 -->
      <div class="flex items-center space-x-6">
        <i class="fas fa-chart-line text-blue-900 text-3xl md:text-5xl"></i>
        <p class="text-sm md:text-lg text-blue-900">Reportes Detallados: Genera informes completos con fecha, datos de cada letra/factura y cálculos de TCEA, para un control más preciso.</p>
      </div>
      <!-- Item 5 -->
      <div class="flex items-center space-x-6">
        <i class="fas fa-file-invoice text-blue-900 text-3xl md:text-5xl"></i>
        <p class="text-sm md:text-lg text-blue-900">Alta y Edición de Letras/Facturas: Registra nuevas letras o facturas y edita sus datos según sea necesario, manteniendo siempre actualizada la información de tu portafolio.</p>
      </div>
      <!-- Item 6 -->
      <div class="flex items-center space-x-6">
        <i class="fas fa-lock text-blue-900 text-3xl md:text-5xl"></i>
        <p class="text-sm md:text-lg text-blue-900">Seguridad en el Acceso: Protege tu cuenta y tus datos con autenticación segura a través de un sistema de inicio de sesión robusto.</p>
      </div>
    </div>
  </div>
</div>


<!-- Separador Minimalista -->
<div class="my-12 md:my-16"></div>

<!-- Sección de Funcionalidades -->
<div class="bg-white py-12 px-6 md:px-20">
  <div class="text-center mb-8">
    <h2 class="text-3xl font-bold text-blue-900 mb-20">
      Funcionalidades Principales
    </h2>
  </div>

  <!-- Contenedor de Funcionalidades -->
  <div class="grid grid-cols-1 md:grid-cols-3 gap-12"> <!-- Aumentar el gap entre columnas -->

    <!-- Funcionalidad 1: Control de Facturas por Proximidad -->
    <a href="/ruta-facturas-proximas" class="block bg-white border border-gray-100 rounded-lg shadow-sm  p-4 text-center hover:shadow-lg transform hover:-translate-y-2 transition-all duration-300"
    (mouseenter)="onMouseEnter('icon1')" (mouseleave)="onMouseLeave('icon1')">
    <lord-icon
      id="icon1"
      src="https://cdn.lordicon.com/dxjqoygy.json"
      trigger="morph"
      colors="primary:#1d4ed8,secondary:#3e3e3e"
      style="width:120px;height:120px"> <!-- Aumentar el tamaño del icono -->
    </lord-icon>
    <h3 class="text-2xl font-semibold text-blue-900 mb-10 mt-2">Control de Facturas</h3> <!-- Aumentar el margen inferior -->
    <p class="text-gray-500 m-4">Mantén un control de las facturas o letras pendientes de descuento, organizadas por fecha de vencimiento y banco.</p>
    </a>

    <!-- Funcionalidad 2: Gestión de Cartera -->
    <a href="/ruta-gestion-cartera" class="block bg-white border border-gray-100 rounded-lg shadow-sm p-4 text-center hover:shadow-lg transform hover:-translate-y-2 transition-all duration-300"
    (mouseenter)="onMouseEnter('icon2')" (mouseleave)="onMouseLeave('icon2')">
    <lord-icon
      id="icon2"
      src="https://cdn.lordicon.com/bbnkwdur.json"
      trigger="morph"
      colors="primary:#1d4ed8,secondary:#3e3e3e"
      style="width:120px;height:120px"> <!-- Aumentar el tamaño del icono -->
    </lord-icon>
    <h3 class="text-2xl font-semibold text-blue-900 mb-10 mt-2">Gestión de Portfolios</h3> <!-- Aumentar el margen inferior -->
    <p class="text-gray-500 m-4">Crea y gestiona diferentes carteras de letras o facturas, calcula la TCEA de cada una y también de manera individual por documento.</p>
    </a>

    <!-- Funcionalidad 3: Reportes Detallados -->
    <a href="/ruta-reportes" class="block bg-white border border-gray-100 rounded-lg shadow-sm  p-4 text-center hover:shadow-lg transform hover:-translate-y-2 transition-all duration-300"
    (mouseenter)="onMouseEnter('icon3')" (mouseleave)="onMouseLeave('icon3')">
    <lord-icon
      id="icon3"
      src="https://cdn.lordicon.com/nkmsrxys.json"
      trigger="morph"
      colors="primary:#1d4ed8,secondary:#3e3e3e"
      style="width:120px;height:120px"> <!-- Aumentar el tamaño del icono -->
    </lord-icon>
    <h3 class="text-2xl font-semibold text-blue-900 mb-10 mt-2">Reportes Detallados</h3> <!-- Aumentar el margen inferior -->
    <p class="text-gray-500 m-4">Genera reportes de las letras o facturas en función de las fechas ingresadas, mostrando toda la cartera y su respectiva TCEA.</p>
    </a>

  </div>
</div>




<!-- Separador Minimalista -->


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">





