/* Ocultar barra de scroll en Chrome, Safari y Edge */
::-webkit-scrollbar {
  width: 6px;
  background:transparent;
}

/* Color del pulgar de la barra de desplazamiento */
::-webkit-scrollbar-thumb {
  background-color: white; /* Color del pulgar */
  border-radius: 50px; /* Bordes redondeados */
}
