/* Ocultar barra de scroll en Chrome, Safari y Edge */
::-webkit-scrollbar {
  width: 6px;
  background:transparent;
}

/* Color del pulgar de la barra de desplazamiento */
::-webkit-scrollbar-thumb {
  background-color: white; /* Color del pulgar */
  border-radius: 50px; /* Bordes redondeados */
}
.table {
  border-spacing: 0 15px;
}

.table tr {
  border-radius: 20px;
  overflow: hidden; /* Asegura que los bordes redondeados se apliquen correctamente */
}

.table td:first-child,
.table th:first-child {
  border-radius: .625rem 0 0 .625rem; /* Esquina superior izquierda redondeada */
}

.table td:last-child,
.table th:last-child {
  border-radius: 0 .625rem .625rem 0; /* Esquina superior derecha redondeada */
}
