<div class="max-w-[calc(100%-48px)]  p-6 mx-6 bg-gray-50 rounded-lg shadow-lg">
  <div class="flex justify-between items-center mb-6">
    <button
      class="bg-gray-600 text-white px-4 py-2 rounded-lg hover:bg-gray-700 transition"
      (click)="goBack()">
      Back
    </button>
    <h2 class="absolute left-1/2 transform -translate-x-1/2 text-2xl font-bold">
      Documents
    </h2>
    <button
      class="bg-blue-600 text-white px-4 py-2 rounded-lg hover:bg-blue-700 transition"
      (click)="openModal()">
      Add
    </button>
  </div>
  <style>
    .table {
      border-spacing: 0 15px;
    }

    .table tr {
      border-radius: 20px;
      overflow: hidden; /* Asegura que los bordes redondeados se apliquen correctamente */
    }

    .table td:first-child,
    .table th:first-child {
      border-radius: .625rem 0 0 .625rem; /* Esquina superior izquierda redondeada */
    }

    .table td:last-child,
    .table th:last-child {
      border-radius: 0 .625rem .625rem 0; /* Esquina superior derecha redondeada */
    }

  </style>
  <div class="flex items-center justify-center overflow-x-auto ">
    <table class="table w-full rounded-lg shadow-md overflow-hidden border-separate">
      <thead class="bg-gray-100 text-gray-600 uppercase text-sm hidden md:table-header-group">
      <tr>
        <th class="py-3 px-6">Document Type</th>
        <th class="py-3 px-6">Financial Institution</th>
        <th class="hidden xl:table-cell py-3 px-6">Currency</th>
        <th class="hidden xl:table-cell py-3 px-6">Amount</th>
        <th class="hidden lg:table-cell py-3 px-6">TCEA</th>
        <th class="py-3 px-6">Status</th>
        <th class="py-3 px-6">Actions</th>
      </tr>
      </thead>
      <tbody class="space-y-4">
      <tr *ngFor="let document of documents; let i = index" class="bg-white  border-b border-gray-200 flex flex-col md:table-row ">
        <td class="py-4 px-6 text-center before:content-['Document_Type'] before:block before:font-bold before:text-lg md:before:content-none">
          {{ document.document_type }}
        </td>
        <td class="py-4 px-6 text-center before:content-['Financial_Institution'] before:block before:font-bold before:text-lg md:before:content-none">
          {{ document.financial_institutions_name }}
        </td>
        <td class="hidden xl:table-cell py-4 px-6 text-center before:content-['Currency'] before:block before:font-bold before:text-lg md:before:content-none">
          {{ document.currecy }}
        </td>
        <td class="hidden xl:table-cell py-4 px-6 text-center before:content-['Amount'] before:block before:font-bold before:text-lg md:before:content-none">
          {{ document.amount }}
        </td>
        <td class="hidden lg:table-cell  py-4 px-6 text-center before:content-['TCEA'] before:block before:font-bold before:text-lg md:before:content-none">
          {{ document.tcea }}
        </td>
        <td class="py-4 px-6 text-center before:content-['Status'] before:block before:font-bold before:text-lg md:before:content-none">
          <button (click)="toggleStatus(document)" class="focus:outline-none border border-gray-300 text-gray-700 px-4 py-2 rounded-lg hover:bg-gray-100 transition">
            <span [ngClass]="{'text-green-500': document.status === 'Completed', 'text-red-500': document.status === 'Error', 'text-yellow-500': document.status === 'In Progress'}">
              <svg class="inline-block h-4 w-4 mr-1" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                <circle cx="10" cy="10" r="8"></circle>
              </svg>
              {{ document.status }}
            </span>
          </button>
        </td>
        <td class="py-4 px-6 text-center before:content-['Actions'] before:block before:font-bold before:text-lg md:before:content-none">
          <div class="flex flex-row justify-center space-x-6 w-full">
            <!-- Botón Ver -->
            <div class="flex items-center justify-center text-gray-700 hover:text-gray-500 transition cursor-pointer p-4" (click)="openViewModal(document)">
              <i class="material-icons-outlined text-3xl">visibility</i>
            </div>

            <!-- Botón Editar (Verde) -->
            <div class="flex items-center justify-center text-green-600 hover:text-green-700 transition cursor-pointer p-4" (click)="editDocument(document.id)">
              <i class="material-icons-outlined text-3xl">edit</i>
            </div>

            <!-- Botón Eliminar (Rojo) -->
            <div class="flex items-center justify-center text-red-600 hover:text-red-700 transition cursor-pointer p-4" (click)="deleteDocument(document.id)">
              <i class="material-icons-round text-3xl">delete_outline</i>
            </div>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>


  <!-- Modal -->
  <div *ngIf="isModalOpen" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-50 p-4" (click)="closeModal()">
    <div class="bg-white p-6 rounded-lg shadow-lg w-full max-w-3xl h-[80vh] overflow-y-scroll modal-scroll" (click)="$event.stopPropagation()">
      <h3 class="text-xl font-bold mb-4">{{ isEditMode ? 'Edit Document' : 'Add New Document' }}</h3>

      <!-- Display error message if validation fails -->
      <div *ngIf="errorMessage" class="text-red-500 mb-4">{{ errorMessage }}</div>

      <form (ngSubmit)="addDocument()">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-4">
          <div class="col-span-1">
            <label class="block text-gray-700">Document Type</label>
            <select class="w-full p-2 border border-gray-300 rounded-lg" [(ngModel)]="document.document_type" name="document_type">
              <option value="Letter">Letter</option>
              <option value="Invoice">Invoice</option>
            </select>
          </div>
          <!-- Factoring y confirming -->
          <div class="col-span-1">
            <label class="block text-gray-700">Financial Institution</label>
            <select class="w-full p-2 border border-gray-300 rounded-lg" [(ngModel)]="document.financial_institutions_name" name="financial_institutions_name">
              <option value="Banco de Crédito del Perú">Banco de Crédito del Perú</option>
              <option value="BBVA Perú">BBVA Perú</option>
              <option value="Scotiabank Perú">Scotiabank Perú</option>
              <option value="Interbank">Interbank</option>
              <option value="BanBif">BanBif</option>
              <option value="Banco Pichincha">Banco Pichincha</option>
              <option value="Finaktiva">Finaktiva</option>
              <option value="Quipu">Quipu</option>
              <option value="Daviplata">Daviplata</option>
              <option value="Nequi">Nequi</option>
              <option value="Movii">Movii</option>
            </select>
          </div>
          <div class="col-span-1">
            <label class="block text-gray-700">Number</label>
            <input type="text" class="w-full p-2 border border-gray-300 rounded-lg" [(ngModel)]="document.number" name="number" placeholder="Number" />
          </div>
          <div class="col-span-1">
            <label class="block text-gray-700">Series</label>
            <input type="text" class="w-full p-2 border border-gray-300 rounded-lg" [(ngModel)]="document.series" name="series" placeholder="Series" />
          </div>
          <div class="col-span-1">
            <label class="block text-gray-700">Issuer Name</label>
            <input type="text" class="w-full p-2 border border-gray-300 rounded-lg" [(ngModel)]="document.issuer_name" name="issuer_name" placeholder="Issuer Name" />
          </div>
          <div class="col-span-1">
            <label class="block text-gray-700">Issuer RUC</label>
            <input type="text" class="w-full p-2 border border-gray-300 rounded-lg" [(ngModel)]="document.issuer_ruc" name="issuer_ruc" placeholder="Issuer RUC" />
          </div>
          <div class="col-span-1">
            <label class="block text-gray-700">Currency</label>
            <select class="w-full p-2 border border-gray-300 rounded-lg" [(ngModel)]="document.currecy" name="currecy">
              <option value="USD">USD</option>
              <option value="EUR">EUR</option>
              <option value="PEN">PEN</option>
            </select>
          </div>
          <div class="col-span-1">
            <label class="block text-gray-700">Amount</label>
            <input type="number" class="w-full p-2 border border-gray-300 rounded-lg" [(ngModel)]="document.amount" name="amount" placeholder="Amount" />
          </div>
          <div class="col-span-1">
            <label class="block text-gray-700">IGV</label>
            <input type="number" class="w-full p-2 border border-gray-300 rounded-lg" [(ngModel)]="document.igv" name="igv" placeholder="IGV" />
          </div>
          <div class="col-span-1">
            <label class="block text-gray-700">Issue Date</label>
            <input type="date" class="w-full p-2 border border-gray-300 rounded-lg" [(ngModel)]="document.issue_date" name="issue_date" />
          </div>
          <div class="col-span-1">
            <label class="block text-gray-700">Due Date</label>
            <input type="date" class="w-full p-2 border border-gray-300 rounded-lg" [(ngModel)]="document.due_date" name="due_date" />
          </div>
          <div class="col-span-1">
            <label class="block text-gray-700">Discount Date</label>
            <input type="date" class="w-full p-2 border border-gray-300 rounded-lg" [(ngModel)]="document.discount_date" name="discount_date" />
          </div>
          <div class="col-span-1">
            <label class="block text-gray-700">Payment Terms</label>
            <input type="text" class="w-full p-2 border border-gray-300 rounded-lg" [(ngModel)]="document.payment_terms" name="payment_terms" placeholder="Payment Terms" />
          </div>
          <div class="col-span-1">
            <label class="block text-gray-700">Nominal Rate</label>
            <input type="number" class="w-full p-2 border border-gray-300 rounded-lg" [(ngModel)]="document.nominal_rate" name="nominal_rate" placeholder="Nominal Rate" />
          </div>
          <div class="col-span-1">
            <label class="block text-gray-700">Effective Rate</label>
            <input type="number" class="w-full p-2 border border-gray-300 rounded-lg" [(ngModel)]="document.effective_rate" name="effective_rate" placeholder="Effective Rate" />
          </div>
          <div class="col-span-1">
            <label class="block text-gray-700">TCEA</label>
            <input type="number" class="w-full p-2 border border-gray-300 rounded-lg bg-gray-100" [value]="document.tcea"  readonly />
          </div>
          <div class="col-span-1">
            <label class="block text-gray-700">Commission</label>
            <input type="number" class="w-full p-2 border border-gray-300 rounded-lg" [(ngModel)]="document.commission" name="commission" placeholder="Commission" />
          </div>
          <div class="col-span-1">
            <label class="block text-gray-700">Status</label>
            <select class="w-full p-2 border border-gray-300 rounded-lg" [(ngModel)]="document.status" name="status">
              <option value="In Progress">In Progress</option>
              <option value="Completed">Completed</option>
            </select>
          </div>
        </div>

        <div class="mb-4 flex justify-end">
          <button type="button" class="bg-gray-600 text-white px-4 py-2 rounded-lg hover:bg-gray-700 transition mr-2" (click)="closeModal()">Cancel</button>
          <button type="submit" class="bg-blue-600 text-white px-4 py-2 rounded-lg hover:bg-blue-700 transition">{{ isEditMode ? 'Update' : 'Add' }}</button>
        </div>
      </form>

    </div>
  </div>


  <!-- View Document Modal -->
  <div *ngIf="isViewModalOpen" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-50" (click)="closeViewModal()">
    <div class="bg-white p-6 rounded-lg shadow-lg w-full sm:w-2/3 md:w-1/2 lg:w-1/3 max-w-lg h-auto max-h-[80vh] overflow-y-auto" (click)="$event.stopPropagation()">
      <h3 class="text-xl font-bold mb-4 text-center">View Document</h3>

      <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
        <div><strong>Document Type:</strong> {{ selectedDocument?.document_type }}</div>
        <div><strong>Financial Institution:</strong> {{ selectedDocument?.financial_institutions_name }}</div>
        <div><strong>Number:</strong> {{ selectedDocument?.number }}</div>
        <div><strong>Series:</strong> {{ selectedDocument?.series }}</div>
        <div><strong>Issuer Name:</strong> {{ selectedDocument?.issuer_name }}</div>
        <div><strong>Issuer RUC:</strong> {{ selectedDocument?.issuer_ruc }}</div>
        <div><strong>Currency:</strong> {{ selectedDocument?.currecy }}</div>
        <div><strong>Amount:</strong> {{ selectedDocument?.amount }}</div>
        <div><strong>IGV:</strong> {{ selectedDocument?.igv }}</div>
        <div><strong>Issue Date:</strong> {{ selectedDocument?.issue_date | date:'shortDate' }}</div>
        <div><strong>Due Date:</strong> {{ selectedDocument?.due_date | date:'shortDate' }}</div>
        <div><strong>Discount Date:</strong> {{ selectedDocument?.discount_date | date:'shortDate' }}</div>
        <div><strong>Payment Terms:</strong> {{ selectedDocument?.payment_terms }}</div>
        <div><strong>Nominal Rate:</strong> {{ selectedDocument?.nominal_rate }}</div>
        <div><strong>Effective Rate:</strong> {{ selectedDocument?.effective_rate }}</div>
        <div><strong>TCEA:</strong> {{ selectedDocument?.tcea }}</div>
        <div><strong>Commission:</strong> {{ selectedDocument?.commission }}</div>
        <div><strong>Status:</strong> {{ selectedDocument?.status }}</div>
      </div>

      <hr class="my-4">

      <div class="text-right font-bold text-lg">TCEA: {{ selectedDocument?.tcea  }}%</div>

      <div class="mt-4 flex justify-end">
        <button class="bg-gray-600 text-white px-4 py-2 rounded-lg hover:bg-gray-700 transition" (click)="closeViewModal()">Close</button>
      </div>
    </div>
  </div>
</div>


