<div class="flex items-center space-x-4 mb-4 justify-center">
  <!-- Filtro de Entidad Financiera -->
  <select (change)="onFinancialInstitutionChange($event)" class="border rounded px-4 py-2">
    <option value="">Todas las Entidades Financieras</option>
    <option *ngFor="let institution of financialInstitutions" [value]="institution">{{ institution }}</option>
  </select>

  <!-- Checkbox de Pending (In Progress) -->
  <label class="flex items-center space-x-2">
    <input type="checkbox" (change)="onPendingChange($event)" checked="true" />
    <span>Pending (In Progress)</span>
  </label>

  <!-- Checkbox de Ordenar por Entidad Bancaria -->
  <label class="flex items-center space-x-2">
    <input type="checkbox" (change)="onOrderByBankChange($event)" />
    <span>Ordenar por Entidad Bancaria</span>
  </label>
</div>

<!-- Tabla de Documentos -->
<div class="overflow-x-auto">
  <table class="table w-full rounded-lg shadow-md">
    <thead class="bg-gray-100 text-gray-600 uppercase text-sm">
    <tr>
      <th class="py-3 px-6 text-center">Tipo de Documento</th>
      <th class="py-3 px-6 text-center">Entidad Financiera</th>
      <th class="py-3 px-6 text-center">Monto</th>
      <th class="py-3 px-6 text-center">TCEA/Pending</th>
      <th class="py-3 px-6 text-center">Fecha de Vencimiento</th> <!-- Nueva columna para la fecha de vencimiento -->
      <th class="py-3 px-6 text-center">Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let document of filteredDocuments" class="bg-white border-b">
      <td class="py-4 px-6 text-center">{{ document.document_type }}</td>
      <td class="py-4 px-6 text-center">{{ document.financial_institutions_name }}</td>
      <td class="py-4 px-6 text-center">{{ document.amount | currency }}</td>
      <td class="py-4 px-6 text-center">
        {{ document.status === 'Completed' ? document.tcea : 'Pending' }}
      </td>
      <td class="py-4 px-6 text-center">{{ document.due_date | date: 'dd/MM/yyyy' }}</td> <!-- Formato de fecha -->
      <td class="py-4 px-6 text-center">
        <button (click)="selectPortfolio(document.portfolios_id)" class="text-blue-600 hover:underline">Ver Portafolio</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
