<div class="flex flex-col sm:flex-row items-center space-y-4 sm:space-x-4 sm:space-y-0 mb-4 pt-16 justify-center mx-4">
  <!-- Filtro de Entidad Financiera -->
  <select (change)="onFinancialInstitutionChange($event)" class="border rounded px-4 py-2 w-full sm:w-auto">
    <option value="">Todas las Entidades Financieras</option>
    <option *ngFor="let institution of financialInstitutions" [value]="institution">{{ institution }}</option>
  </select>

  <!-- Checkbox de Pending (In Progress) -->
  <label class="flex items-center space-x-2">
    <input type="checkbox" (change)="onPendingChange($event)" checked="true" />
    <span>Pendientes (En Progreso)</span>
  </label>

  <!-- Checkbox de Ordenar por Entidad Bancaria -->
  <label class="flex items-center space-x-2">
    <input type="checkbox" (change)="onOrderByBankChange($event)" />
    <span>Ordenar por Entidad Bancaria</span>
  </label>
</div>


<!-- Tabla de Documentos -->
<div class="flex justify-center py-8 mx-4">
  <div class="w-full max-w-4xl overflow-x-auto">
    <table class="table-auto w-full rounded-lg shadow-lg overflow-hidden">
      <thead class="bg-[#9884B5] text-white uppercase text-sm font-semibold">
      <tr>
        <th class="py-4 px-6 text-center">Tipo de Documento</th>
        <th class="py-4 px-6 text-center">Entidad Financiera</th>
        <th class="py-4 px-6 text-center">Monto</th>
        <th class="py-4 px-6 text-center">TCEA/Pendientes</th>
        <th class="py-4 px-6 text-center">Fecha de Vencimiento</th>
        <th class="py-4 px-6 text-center">Acciones</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let document of filteredDocuments" class="bg hover:bg-[#E2DCE5] transition-colors duration-200 border-b border-[#C1B5C8]">
        <td class="py-4 px-6 text-center text-[#2F2D3B]">{{ document.documentType }}</td>
        <td class="py-4 px-6 text-center text-[#2F2D3B]">{{ document.financialInstitutionsName }}</td>
        <td class="py-4 px-6 text-center text-[#2F2D3B]">{{ document.amount | currency }}</td>
        <td class="py-4 px-6 text-center text-[#2F2D3B]">
          {{ document.status === 'Completado' ? document.tcea+'%' : 'Pendiente' }}
        </td>
        <td class="py-4 px-6 text-center text-[#2F2D3B]">{{ document.dueDate | date: 'dd/MM/yyyy' }}</td>
        <td class="py-4 px-6 text-center">
          <button (click)="selectPortfolio(document.portfolioId)" class="text-[#70CF80] hover:underline hover:text-[#5EE474] transition-colors duration-200">Ver Portafolio</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

